

	onInit : function(evt) {
		
		var oModel = new sap.ui.model.odata.v4.ODataModel({
			groupId: "$direct",
			synchronizationMode : "None",
			serviceUrl : "#odataUrl#"
		});

        this.getView().setModel(oModel);
    },

	onDetailPress : function(event) {
		var bindingContext = event.getSource().getBindingContext();
		var recordId = bindingContext.getProperty("Id");
		var myObject = bindingContext.getObject();
		app.to("id#formViewId#Form", "slide", bindingContext);

	},
